* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 900px;
    height: 600px;
    background: #ececec;
    margin: 20px auto;
    border: 2px solid #ad753a;
}

.box-container {
    position: relative;
    width: 900px;
    height: 600px;
    background: #ececec;
    margin: 20px auto;
    border: 2px solid #ad753a;
}