/* header-part */
.container{
    padding-left: 10px;
    padding-right: 10px;
}

.header-top-container,
.header-bottom-container {
    max-width: 1174px;
    height: 80px;
    margin: 0 auto;
}

.logo-wrapper,
.header-navbar {
    display: inline-block;
    padding: 20px 0px;
}

.header-navbar {
    margin-top: 8px;
    float: right;
}

.header-navbar ul li {
    display: inline-block;
}

.about-header {
    float: left;
    padding-top: 30px;
}

.left-navbar {
    float: right;
}

.triangle-image {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0;
}


/* body-part */

.top-body-container {
    max-width: 1174px;
    margin: 0 auto;
    padding-top: 20px;
}

.col3-left {
    padding: 70px 0;
}

.left-container {
    float: left;
}

.right-container {
    float: right;
}

.middle {
    float: left;
    max-width: 580px;
    margin-right: 20px;
}

.col3-inner-right {
    float: right;
    max-width: 290px;
}


/* our team */

.our-team-wrapper {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0;
}

.block {
    position: relative;
    display: inline-block;
    max-width: 260px;
    margin-right: 29px;
}

.block:last-child {
    margin-right: 0px;
}


/* best solution */

.best-solution-container,
.happy-clients-container,
.footer-container {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0;
}

.clients-list ul {
    padding: 35px 0;
}

.clients-list ul li {
    display: inline-block;
    padding-right: 25px;
}

.clients-list ul li:last-child {
    padding-right: 0;
}

.footer-block {
    display: inline-block;
    padding: 22px 0px;
}

.footer-blog {
    float: right;
    padding: 22px 0;
}

.blog-holder {
    display: inline-block;
    padding-top: 23px;
}

.left {
    float: left;
    padding: 20px 0;
}

.right {
    float: right;
    padding: 20px 0;
}


/* clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}