/* header-part */

.header-top-wrapper {
    background: url("../images/top-header.png");
    background-repeat: repeat-x;
}

.header-navbar .nav-item,
.dropdown-toggle {
    color: white;
    font-size: 13px;
    padding: 12px 20px;
    padding-bottom: 8px;
    cursor: pointer;
}

.header-navbar .nav-item:hover {
    height: 30px;
    background-color: #62a29e;
    border-radius: 5px;
    border-bottom: 3px solid #528b86;
}
.dropdown{
    position: relative;
}
.dropdown-toggle::before{
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 2px;
    vertical-align: .255em;
    content: "";
    border-top: .4em solid;
    border-right: .4em solid transparent;
    border-bottom: 0;
    border-left: .4em solid transparent;
}
.dropdown-menu{
    display:none;
    position: absolute;
    top: 35px;
    left: 6px;
    padding: 5px 5px 0;
    background-color: #e2534b;
    color: #212529;
    /* min-width: 10rem; */
    margin: .125rem 0 0;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.dropdown-item{
    display: block;
    margin-bottom: 5px;
    padding: 6px 9px 6px 9px;
    font-size: 13px;
    color: white;
    background-color: #e5655d;
    border-radius: 3px;
    clear: both;
    font-weight: 400;
    white-space: nowrap;

}
.dropdown-item:hover{
    margin-bottom: 5px;
    /* padding: 6px 9px; */
    font-size: 13px;
    background-color: #76c7c0;
    border-radius: 3px;
}
.dropdown-arrow{
    width: 0px;
    height: 0px;
    border-bottom: 6px solid #e2534b;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: -12px;
    left: 12px;
}

.dropdown input{
    position: absolute;
    display: none;
}
.dropdown label{
    padding: 0;
    margin: 0;
}
.dropdown input:checked~.dropdown-menu{
    display: block;
}

.header-bottom-wrapper {
    background: #ececec;
}

.left-navbar ul {
    padding: 30px 20px 0 20px;
}

.left-navbar ul li {
    display: inline-block;
    padding-left: 10px;
}

.header-bottom-image {
    background: #f3f3f3;
}

.triangle-image img {
    float: left;
}

/* BODY PART */

.top-body-wrapper {
    background: #f3f3f3;
}

.top-body-container h2 {
    padding: 20px 0;
}

.left-container h2 {
    padding: 20px 0 30px 0;
}

.arrow {
    font-size: 14px;
}

.arrow img {
    padding-right: 7px;
}

.middle p {
    font-size: 14px;
    padding: 20px;
}

.middle .percent{
    padding-top: 10px;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.middle .percent li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
.middle .percent li p{
    padding: 0px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.col3-inner-right p {
    background: #f8f8f8;
    font-size: 13px;
    font-style: italic;
    padding: 15px;
}

.client-name {
    width: inherit;
    background: url("../images/client-say.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.client-name h3 {
    padding: 5px 60px;
}

/* our team */

.middle-body-wrapper {
    background-image: url("../images/background.png");
    background-repeat: repeat-x;
}

.our-team-title {
    text-align: center;
    padding: 80px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.back-box, .front-box {
    width: 271px;
    height: 315px;
    cursor: pointer;
}

.back-box {
    background-image: url("../images/back-image.png");
    background-repeat: no-repeat;
    background-size: contain;
   
}
.back-box img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.front-box {
    position: absolute;
    background-color: #90D1CB;
    border-radius: 5px;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.front-box p {
    color: white;
    margin: 35px;
}

.front-box ul {
    margin: 35px;
}

.front-box li {
    float: left;
    margin: 5px;
}

.block .user-name-box {
    position: absolute;
    width: 170px;
    background-color: #99a3a4;
    border-bottom: 4px solid #8d9697;
    border-radius: 5px;
    left: 37px;
    bottom: -15px;
    z-index: 20;
}

.user-name-box a {
    text-align: center;
    padding: 10px;
    color: white;
    display: block;
}

.block:hover .user-name-box {
    background-color: #e8635a;
    border-bottom: 4px solid #e2534b;
}

.block:hover .front-box {
    display: block;
    position: absolute;
}

.best-solution, .happy-clients {
    background: #f3f3f3;
}

.best-solution-container {
    text-align: center;
    padding: 100px 0 20px 0;
}

.solution-heading {
    color: #e74d4f;
    font-weight: 4;
}

.best-solution-container p {
    padding: 22px;
    font-size: 13px;
    color: #797979;
}

.best-solution-container p span {
    color: #7e8482;
}

.happy-top ul {
    float: right;
}

.happy-top ul li {
    display: inline-block;
    padding-left: 12px;
}

.happy-top h3 {
    float: left;
}

.happy-top ul li a {
    background-color: #99a3a4;
    border-bottom: 4px solid #8d9697;
    padding: 12px 12px 6px 12px;
    border-radius: 5px;
}

.happy-top ul a:hover {
    background-color: #e8635a;
    border-bottom: 4px solid #e2534b;
}

/* footer */

.footer-container * {
    color: white;
    font-size: 14px;
}

.footer-top-wrapper {
    background: url("../images/footer-background.png");
    background-repeat: repeat-x;
    background-size: contain;
}

.footer-bottom-wrapper {
    background: #6bb4ad;
}

.footer-top-content {
    padding-top: 40px;
    padding-bottom: 60px;
}

.footer-tollens {
    width: 375px;
    float: left;
}

.footer-tollens p, .footer-tollens ul li, .footer-tollens ul li span {
    color: white;
}

.footer-tollens ul {
    padding-top: 20px;
}

.footer-tollens ul li span {
    font-size: 20px;
    font-style: italic;
    padding-left: 10px;
    font-size: 16px;
}

.footer-col-middle {
    width: 150px;
    float: left;
    margin-left: 40px;
}

.footer-block ul {
    padding-top: 25px;
}

.white-arrow {
    padding-left: 20px;
    line-height: 25px;
    background: url("../images/white-arrow.png");
    background-position: left;
    background-repeat: no-repeat;
}

.white-arrow a:hover{
    color: #ececec;
}

.in-blog p {
    float: right;
    padding-left: 17px;
    width: 300px;
}

.dark {
    color: #4a7875;
    font-size: 20px;
}

.blog-header p {
    font-style: italic;
    font-size: 20px;
    font-weight: lighter;
}

.blog-header p span {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.in-blog span {
    color: #818080;
}

.right ul li {
    display: inline-block;
    padding-left: 25px;
}