.container {
    max-width: 73.125em;
    margin: 0em auto;
    padding: 0em;
}

.logo-wrapper,
.menu-nav {
    float: left;
}

.navbar-wrapper,
.login-nav {
    float: right;
}

.site-search {
    float: left;
    margin-top: -30px;
}

.enter-site {
    float: left
}

.seller .seller-name {
    float: left;
}

.seller .price {
    float: right;
}

.item-image {
    position: relative;
}

.item .item-image .top-icon {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    /* display: none; */
    background: rgba(255, 255, 255, 0.902);
    margin: 10px;
    border-radius: 4px;
    display: none;
}

.middle-icon {
    position: absolute;
    top: 40%;
    left: 33%;
    display: none;
}

.left-icon,
.right-icon {
    float: left;
    margin: 10px;
}

.pricing-table-wrapper {
    margin-top: 20px;
}

.col3-table {
    margin-top: 40px;
}

.testimonial-wrapper {
    background: #f1f5f8;
}

.section-title {
    text-align: center;
    padding-top: 90px;
}