* {
    margin: 0;
    padding: 0;
}

body {
    background: #ececec;
}

#carousel-container {
    overflow: hidden;
    margin: 30px auto;
    position: relative;
    height: 300px;
    background: #ececec;
    /* border: 2px solid black; */
}

#carousel-image-wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
}

#carousel-image-wrapper img {
    float: left;
}

.btn {
    width: 45px;
    height: 100%;
    text-align: center;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
}

#prevBtn {
    float: left;
    left: 0;
    background: url("./images/back.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#nextBtn {
    float: right;
    right: 0;
    background: url("./images/next.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}