.container {
    max-width: 79.1%;
    margin: 0em auto;
    padding: 0em;
}

.logo-wrapper,
.header-navbar {
    display: inline-block;
    padding: 20px 0px;
}

.header-navbar {
    float: right;
}

.header-navbar ul li {
    display: inline-block;
}

.about-header {
    float: left;
}

.left-navbar {
    float: right;
}


/* body */

.project-slideshow-container,
.slideshow2-container,
.read-more-container {
    margin: 1.5625em 0em;
}

.project-slider {
    width: 100%;
    position: relative;
}

.slide-button {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 0%
}

.slide-button a {
    padding: 1em 0.5em;
}

.project-image-box {
    position: absolute;
    left: 40%;
    bottom: 25%;
}

.prev,
.col-left {
    float: left;
}

.next,
.col-right {
    float: right;
}

.dash-container {
    width: 100%;
    text-align: center;
}

.col-left {
    width: 74.531516%;
    margin-right: 1.7%;
}

.col-right {
    width: 23.504273%;
}

.right-bottom ul li {
    display: inline-block;
}

.block {
    position: relative;
    display: inline-block;
    width: 260px;
    margin-right: 29px;
    /* max-width: 16.25em;
    margin-right: 1.8125em; */
}

.block:last-child {
    margin-right: 0px;
}


/* -----------------FOOTER--------------------- */

.footer-block {
    display: inline-block;
    padding: 22px 0px;
}

.footer-blog {
    float: right;
    padding: 22px 0;
}

.blog-holder {
    display: inline-block;
    padding-top: 23px;
}

.left {
    float: left;
    padding: 20px 0;
}

.right {
    float: right;
    padding: 20px 0;
}