* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Times New Roman";
    text-decoration: none;
    list-style-type: none;
    color: #828e8e;
    line-height: 1.5rem;
    box-sizing: border-box;
}

img {
    margin: 0em;
    padding: 0em;
    max-width: 100%;
    max-height: 100%;
}