/* clearfix */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* body {
    background: #f3f3f3;
} */

.header-top-wrapper {
    background: url("../images/top-header.png");
    background-repeat: repeat-x;
}

.header-navbar a {
    color: white;
    font-size: 13px;
    padding: 11px 20px 13px 30px;
}

.header-navbar a.nav-item:hover {
    background: url("../images/btn.png");
    background-size: cover;
    background-position: left;
}

.header-bottom-wrapper {
    background: #ececec;
}

.about-header,
.left-navbar {
    padding: 30px 0;
}

.left-navbar ul li {
    display: inline-block;
    padding-left: 10px;
}

.header-bottom-image {
    background: #f3f3f3;
}

.triangle-image img {
    float: left;
}

.header-navbar li:last-child a {
    padding: 0;
}

.header-navbar a.search-logo:hover {
    background: url("../images/search-hover.png");
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}

.burger-menu {
    float: right;
    /* line-height: 40px; */
    margin-top: 24px;
    display: none;
}


/* body */

.body-wrapper {
    background: #f3f3f3;
}

.project-slider {
    background: url("../images/project-slideshow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 60%;
}

.prev,
.next {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 45%;
}

.prev {
    background: url("../images/prev-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.next {
    background: url("../images/next-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 94%;
}

.dash-container ul {
    text-align: center;
    margin: 10px 0;
}

.dash-container ul li {
    display: inline-block;
}

.blog-slider {
    background: url("../images/blog-slideshow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 60%;
}

.sidebar-slider {
    background: url("../images/sidebar-slideshow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 60%;
}

.right-bottom ul {
    padding: 10px 0;
}

.right-bottom h3 {
    margin: 10px;
}

.right-bottom ul li {
    padding-left: 10px;
}


/* read more */


/* .block-holder {
    width: 100%;
    height: 342px;
} */

.back-box,
.front-box {
    /* width: 17.0625em;
    height: 19.625em; */
    width: 271px;
    height: 315px;
}

.back-box {
    background-image: url("../images/grey-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.front-box {
    position: absolute;
    background-image: url("../images/white-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
}


/* .front-box p {
    color: white;
    margin: 35px;
} */

.img1 {
    padding: 40px 75px 0 75px;
}

.box-heading {
    text-align: center;
}

.para {
    margin: 20px;
    text-align: center;
    font-size: small;
}

.block .user-name-box {
    /* position: absolute;
    bottom: -1.375em;
    left: 1.875em;
    z-index: 20; */
    position: absolute;
    background: url("../images/blue-btn.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 37px;
    bottom: -15px;
    z-index: 20;
}

.user-name-box a {
    /* background: url("../images/blue-btn.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 19px 67px;
    color: white;
    display: block; */
    text-align: center;
    padding: 19px 67px;
    color: white;
    display: block;
}


/* .block:hover .user-name-box a{
    background: url("../images/red-btn.png");
    background-repeat: no-repeat;
    position: absolute;
} */

.block:hover .user-name-box {
    background: url("../images/red-btn.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 37px;
    bottom: -15px;
    z-index: 20;
}

.block:hover .front-box {
    display: block;
    position: absolute;
}

.front-box img,
.back-box img {
    margin: 40px 75px 0 75px;
}


/* -------------------FOOTER-------------- */

.footer-top-wrapper .container *,
.footer-bottom-wrapper .container * {
    color: white;
}

.footer-top-wrapper {
    background: url("../images/footer-background.png");
    background-repeat: repeat-x;
    background-size: contain;
}

.footer-top-content {
    padding-top: 40px;
    padding-bottom: 60px;
}

.footer-tollens {
    width: 375px;
    float: left;
}

.footer-tollens p,
.footer-tollens ul li,
.footer-tollens ul li span {
    color: white;
}

.footer-tollens ul {
    padding-top: 20px;
}

.footer-tollens ul li span {
    padding-left: 10px;
    font-size: 16px;
}

.footer-col-middle {
    width: 150px;
    float: left;
    margin-left: 40px;
}

.footer-block ul {
    padding-top: 25px;
}

.white-arrow {
    padding-left: 20px;
    line-height: 25px;
    background: url("../images/white-arrow.png");
    background-position: left;
    background-repeat: no-repeat;
}

.in-blog p {
    float: right;
    padding-left: 17px;
    width: 300px;
}

.dark {
    color: #4a7875;
}

.blog-header h2 {
    font-style: italic;
}

.blog-header h2 span {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

.in-blog span {
    color: #4a7875;
}

.right ul li {
    display: inline-block;
    padding-left: 25px;
}

.footer-bottom-wrapper {
    background: #6bb4ad;
}


/* ---------------------MEDIA QUERIES---------------- */

@media only screen and (max-width: 1439) {
    .block:last-child {
        margin-left: 90px;
    }
}

@media only screen and (max-width: 1136px) {
    .burger-menu {
        display: block;
    }
    .header-navbar {
        text-align: center;
        width: 100%;
        display: none;
    }
    .header-navbar li a {
        display: block;
        border-bottom: 1px solid #b1bbbe;
        color: white;
        font-weight: 30;
    }
    .header-navbar ul li {
        display: block;
    }
    .header-navbar li:last-child a {
        padding: 11px 20px 13px 30px;
    }
    .header-navbar a.search-logo:hover {
        padding: 11px 20px 13px 30px;
        background: url("../images/btn.png");
        background-size: cover;
        background-position: left;
    }
    .burger-menu a:active .header-navbar {
        display: block;
    }
}