.main-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.game-container {
    margin: 0 auto;
    background: url('../images/ground.png');
    background-size: contain;
    overflow: hidden;
}