* {
    margin: 0;
    padding: 0;
}

#game-container {
    display: block;
    margin: 30px;
    border: 1px solid;
    float: left;
}

#game-container2 {
    display: inline-block;
    margin: 30px;
    border: 1px solid;
}

#sprite {
    display: none;
}